<html>
  <head> </head>
  <body>
    <% if(isValid){% >
    <form
      action="/users/reset-password/?access-token=<%=access-token%>"
      method="POST"
    >
      <input
        type="password"
        name="password"
        placeholder="Type your password here"
      />
      <input type="password" name="confirmPassword" name="Conform password" />
      <input type="submit" value="Change Password" />
    </form>

    <%} else {%>
    <h1>Your token has been expired</h1>
    <%}%>
  </body>
</html>
