<html>
  <head> </head>
  <body>
    <form action="/users/reset-password/<%= accessToken %>" method="POST">
      <input type="password" name="password" placeholder="type your password" />
      <input
        type="password"
        name="confirm_password"
        placeholder="confirm password"
      />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
