<div>
  <p>Hi <%= answer.user.username %></p>
  <br />
  <br />
  <p>
    Your answer <strong><%= answer.content %></strong> just got published on
    Quora clone!!!
  </p>
  <br />
  <br />
  <p>Thanks!!</p>
</div>
